*/exec/
.clangd
*/CMakeFiles/
__pycache__/
venv/
python/

# File extensions
*.txt
*.bin
*.out
*.gch
*.exe
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.npy
*.orig
*.pcy
.*/ 
vgcore.*

# Exceptions
!requirements.txt
